* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}  

@font-face {  
    font-family: samim;  
    font-style: normal;  
    font-weight: bold;  
    src: url('../fonts/samim-font-v2.0.1/Samim.eot');  
    src: url('../fonts//samim-font-v2.0.1/Samim.woff2') format('embedded-opentype'),  
         url('../fonts/samim-font-v2.0.1/Samim.woff') format('woff'),  
         url('../fonts/samim-font-v2.0.1/Samim.ttf') format('truetype');    
}  
main{
    margin-top: 10px;
}
body {  
    font-family: samim;  
    direction: rtl; 
    overflow-x: hidden; 
}  
a {
    text-decoration: none;
    color: #000;
}
.logo {  
    margin-right: 20px;
    width: 80px;  
    height: 80px;  
}  
.menu{
    font-size: 15px;
    font-weight: bold;
    margin-right: 100px;
    margin-top:-40px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu ul{
    margin: 0px;
}
.menu ul li{
    display: inline;
    margin-left: 10px;
    padding: 5px;
}
.sub_menu{
    display: none;
    position: absolute;
    top: 80px;
    margin-left: -20px !important;
    padding-top: 20px;
    text-align: center;
}
.dropdown_menu:hover ul{
    display: block;
}  
.sub_menu li{
    height: 30px;
    border-radius: 20px;
    width: 150px;
    top: 100px;
    margin: 0px !important;
}
.sub_menu li:hover{
    transition: ease-in-out 0.3s;
    background-color: #ffb03a;
    display: block;
}
.dropdown_menu ul:hover{
    display: block;
}
.dropdown_menu ul li{
    transition: ease-in-out 0.3s;
    display: block;
    text-align: center;
}
.info{
    margin-right: 20px;
    width: 350px;
    height: 50px;
    margin-top: 3px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb03a;
    -webkit-user-select: none;  
    user-select: none;  
    border-radius:10px;
    padding-right: 10px;
    padding-top: 5px;
}

.info-1{
    width: 200px;
    height: 50px;
    margin-top : 10px;
    font-size: 20px; 
    margin-bottom: 20px;
    background-color: #ffb03a;
    -webkit-user-select: none;  
    user-select: none; 
    border-radius: 10px;
    padding-right: 40px;
    padding-top: 10px;
}
.info-1:hover{
    transition: ease-in-out 0.3s;
    box-shadow: #dbdbdb 7px 5px 5px ;
}
.info:hover{
    transition: ease-in-out 0.3s;
    color: #ffffff;
    box-shadow: #dbdbdb 7px 5px 5px ;
}
.info-3{
    width: 130px;
    -webkit-user-select: none;  
    user-select: none; 
    font-size: 1rem;
    line-height: 1.2 !important;
    font-weight: 400;
    letter-spacing: 0em;
    border-radius: 5em;
    padding: .8em 1.5em;
    background-color: #ffb03a;
}
.info-3:hover{
    transition: ease-in-out 0.3s;
    box-shadow: #a3a3a3 5px 0px 5px;
}
.img-1{
    width: 350px;
    height: 250px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: #a3a3a3 5px 5px 5px;
}
.agahi{
    margin-top: 30px;
    margin-right: 10px;
}
.img-2{
    width: 200px;
    height: 200px;

}
.sabk{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #ffb03a;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sabk:hover{
    transition: ease-in-out 0.3s;
    animation:cubic-bezier(0.39, 0.575, 0.565, 1);
    background-color: #4ccf62;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
}
.carousel {  
    z-index: -10;   
}  

.btn-1{
    color: #fff;
     background-color: #ffb03a; 
     font-size: 20px; 
}
.btn-1:hover{
    color: #fff;
    background-color: #ee9a1d;
}
.servises{
    color: #fff;
    background-color: #ffb03a;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    padding-top: 10px;
    -webkit-user-select: none;  
    user-select: none; 
    box-shadow: #dbdbdb 7px 5px 5px ;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servises:hover{
    transition: ease-in 0.3s;
    color:#000000;
}
.card:hover{
    transition: ease-in 0.3s;
    box-shadow: #dbdbdb 5px 15px 15px ;
}
.card-text1{
    color: #ffb03a;
    text-align: center;
}
.servises-1{
    color: #fff;
    background-color: #ffb03a;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding-top: 5px;
    -webkit-user-select: none;  
    user-select: none; 
    margin-right: 20px;
    box-shadow: #dbdbdb 7px 5px 5px ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.servises-1:hover{
    transition: ease-in 0.3s;
    color:#000000;
}

.card-text2{
    color: #ffb03a;
    text-align: right;
}

.mohasebeh {
    height: 70px;
    background-color: #ffffff;
    width: 98%;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    color: #ffb03a;
    -webkit-user-select: none;  
    user-select: none; 
    margin-bottom: 30px;
}
.mohasebeh:hover{
    transition: ease-in-out 0.3s;
    color:#000;
}
.card-img-top{
    border-radius: 5px;
}
.blog{
    width: 100px;
    height: 30px;
    background-color: #196337;
    text-align: center;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 15px;
    -webkit-user-select: none;  
    user-select: none; 
    color: #fff;
    font-size: 13px;
    margin-right: -5px;
}
.search{
    width: 250px;
    margin-top: 0px;
    justify-content: left;
}
.bish{
    width: 100px;
    height: 30px;
    background-color:#ffb03a;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
    margin-top: 5px;
    box-shadow: #e7e7e7 7px 5px 5px ;
}
.bish:hover{
    transition: ease-in-out 0.3s;
    box-shadow: #cecece 7px 5px 5px ;
}
.info-2{
    margin-right: 10px;
    width: 540px;
    height: 50px;
    margin-top : 10px;
    font-size: 20px; 
    margin-bottom: 20px;
    background-color: #ffb03a;
    -webkit-user-select: none;  
    user-select: none; 
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.info-2:hover{
    transition: ease-in-out 0.3s;
    box-shadow: #dbdbdb 7px 5px 5px ;
    color: #ffffff;
}
.info-3{
    margin-right: 10px;
    width: 360px;
    height: 50px;
    margin-top : 10px;
    font-size: 20px; 
    margin-bottom: 20px;
    background-color: #ffb03a;
    -webkit-user-select: none;  
    user-select: none; 
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.info-3:hover{
    transition: ease-in-out 0.3s;
    box-shadow: #dbdbdb 7px 5px 5px ;
    color: #ffffff;
}
.btn-submit{
    width: 70px;
    height: 50px;
    border: 2px solid #ffb03a;
    background-color: transparent;
    margin-right: 20px;
    border-radius: 20px;
    margin-top:10px;
    font-weight: 500;
}
.btn-submit:hover{
    transition: ease-in-out 0.3s;
    background-color: #ffb03a;
    color: #fff;
}
.nav-item{
    text-align: center;
}
.nav-item:hover{
    
    border-radius: 10px;
    transition: ease-in-out 0.3s ;
    background-color: #ffb03a;    
}
.dropdown-item {
    text-align: center;
}
.dropdown-item:hover{
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    background-color: #ffb03a;
}
footer{
    color: #fff;
    padding: 20px;
    background-color: #07332F ;
}
.img-e{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
}
.ej{
    margin-left: 60px;
}
.img-3{
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: #dbdbdb 7px 5px 5px ;
}